documents/schema/minimalSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.daisy.org/z3986/2005/dtbook/" xmlns:brl="http://www.daisy.org/z3986/2009/braille/" xmlns:dtbook="http://www.daisy.org/z3986/2005/dtbook/">
  <xs:import namespace="http://www.daisy.org/z3986/2009/braille/" schemaLocation="brl.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <xs:element name="dtbook">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="dtbook:head"/>
        <xs:element ref="dtbook:book"/>
      </xs:sequence>
      <xs:attribute name="version" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="2005-3"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute ref="xml:lang" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="head">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="dtbook:meta"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="meta">
    <xs:complexType>
      <xs:attribute name="content" use="required"/>
      <xs:attribute name="name" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="dtb:uid"/>
            <xs:enumeration value="dc:Title"/>
            <xs:enumeration value="dc:Creator"/>
            <xs:enumeration value="dc:Subject"/>
            <xs:enumeration value="dc:Description"/>
            <xs:enumeration value="dc:Publisher"/>
            <xs:enumeration value="dc:Date"/>
            <xs:enumeration value="dc:Type"/>
            <xs:enumeration value="dc:Format"/>
            <xs:enumeration value="dc:Identifier"/>
            <xs:enumeration value="dc:Source"/>
            <xs:enumeration value="dc:Language"/>
            <xs:enumeration value="dc:Rights"/>
            <xs:enumeration value="dtb:sourceEdition"/>
            <xs:enumeration value="dtb:sourcePublisher"/>
            <xs:enumeration value="dtb:sourceRights"/>
            <xs:enumeration value="sbs:BuchReihe"/>
            <xs:enumeration value="sbs:ReihenNummer"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="book">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="dtbook:frontmatter"/>
        <xs:element ref="dtbook:bodymatter"/>
        <xs:element minOccurs="0" ref="dtbook:rearmatter"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="frontmatter">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="dtbook:doctitle"/>
        <xs:element ref="dtbook:docauthor"/>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="dtbook:frontmatterLevel1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="doctitle">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="dtbook:abbr"/>
        <xs:element ref="dtbook:em"/>
        <xs:element ref="dtbook:strong"/>
        <xs:group ref="dtbook:contractionhints"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="docauthor">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="dtbook:abbr"/>
        <xs:element ref="dtbook:em"/>
        <xs:element ref="dtbook:strong"/>
        <xs:group ref="dtbook:contractionhints"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="bodymatter">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="dtbook:level1"/>
        <xs:element ref="brl:volume"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="rearmatter">
    <xs:complexType>
      <xs:group maxOccurs="unbounded" ref="dtbook:level1"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="gradeAttribute">
    <xs:attribute ref="brl:grade" use="required"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="accentsAttribute">
    <xs:attribute ref="brl:accents" use="required"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="brailleClassAttribute">
    <xs:annotation>
      <xs:documentation>brl:class lets you fine tune the Braille formatting (think of it as
a form of css for Braille)</xs:documentation>
    </xs:annotation>
    <xs:attribute ref="brl:class"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="commonAttributes">
    <xs:attribute ref="brl:grade"/>
  </xs:attributeGroup>
  <xs:group name="levelcontent">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="dtbook:pagenum"/>
        <xs:element ref="dtbook:p"/>
        <xs:element ref="dtbook:list"/>
        <xs:element ref="dtbook:blockquote"/>
        <xs:element ref="dtbook:epigraph"/>
        <xs:element ref="dtbook:poem"/>
        <xs:element ref="dtbook:note"/>
        <xs:element ref="dtbook:author"/>
        <xs:element ref="dtbook:byline"/>
        <xs:element ref="brl:volume"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  <xs:complexType name="hcontent" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:group ref="dtbook:contractionhints"/>
      <xs:element ref="dtbook:span"/>
      <xs:element ref="dtbook:em"/>
      <xs:element ref="dtbook:strong"/>
      <xs:element ref="dtbook:noteref"/>
      <xs:element ref="brl:toc-line"/>
      <xs:element ref="brl:running-line"/>
    </xs:choice>
  </xs:complexType>
  <xs:group name="level1">
    <xs:sequence>
      <xs:element name="level1">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="dtbook:levelcontent"/>
            <xs:element ref="dtbook:h1"/>
            <xs:element ref="dtbook:level2"/>
          </xs:choice>
          <xs:attributeGroup ref="dtbook:commonAttributes"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="frontmatterLevel1">
    <xs:sequence>
      <xs:element name="level1">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="dtbook:levelcontent"/>
            <xs:element ref="dtbook:h1"/>
            <xs:element ref="dtbook:level2"/>
          </xs:choice>
          <xs:attributeGroup ref="dtbook:commonAttributes"/>
          <xs:attribute name="class">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="titlepage"/>
                <xs:enumeration value="toc"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:element name="h1">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="dtbook:hcontent">
          <xs:attributeGroup ref="dtbook:brailleClassAttribute"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="level2">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="dtbook:levelcontent"/>
        <xs:element ref="dtbook:h2"/>
        <xs:element ref="dtbook:level3"/>
      </xs:choice>
      <xs:attributeGroup ref="dtbook:commonAttributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="h2">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="dtbook:hcontent">
          <xs:attributeGroup ref="dtbook:brailleClassAttribute"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="level3">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="dtbook:levelcontent"/>
        <xs:element ref="dtbook:h3"/>
        <xs:element ref="dtbook:level4"/>
      </xs:choice>
      <xs:attributeGroup ref="dtbook:commonAttributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="h3">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="dtbook:hcontent">
          <xs:attributeGroup ref="dtbook:brailleClassAttribute"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="level4">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="dtbook:levelcontent"/>
        <xs:element ref="dtbook:h4"/>
        <xs:element ref="dtbook:level5"/>
      </xs:choice>
      <xs:attributeGroup ref="dtbook:commonAttributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="h4">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="dtbook:hcontent">
          <xs:attributeGroup ref="dtbook:brailleClassAttribute"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="level5">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="dtbook:levelcontent"/>
        <xs:element ref="dtbook:h5"/>
        <xs:element ref="dtbook:level6"/>
      </xs:choice>
      <xs:attributeGroup ref="dtbook:commonAttributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="h5">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="dtbook:hcontent">
          <xs:attributeGroup ref="dtbook:brailleClassAttribute"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="level6">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="dtbook:levelcontent"/>
        <xs:element ref="dtbook:h6"/>
      </xs:choice>
      <xs:attributeGroup ref="dtbook:commonAttributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="h6">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="dtbook:hcontent">
          <xs:attributeGroup ref="dtbook:brailleClassAttribute"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="p">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="dtbook:pagenum"/>
        <xs:element ref="dtbook:em"/>
        <xs:element ref="dtbook:strong"/>
        <xs:element ref="dtbook:abbr"/>
        <xs:group ref="dtbook:contractionhints"/>
        <xs:element ref="dtbook:span"/>
        <xs:element ref="dtbook:noteref"/>
        <xs:element ref="brl:select"/>
      </xs:choice>
      <xs:attributeGroup ref="dtbook:commonAttributes"/>
      <xs:attributeGroup ref="dtbook:brailleClassAttribute"/>
      <xs:attribute name="class">
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list>
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:enumeration value="precedingseparator"/>
                    <xs:enumeration value="precedingemptyline"/>
                    <xs:enumeration value="noindent"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:list>
            </xs:simpleType>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="emphasisClassAttribute">
    <xs:annotation>
      <xs:documentation>The class attribute on emphasis is used to categorize the emphasis
tags. This will help in deciding what brl:render attribute to set
for this emphasis</xs:documentation>
    </xs:annotation>
    <xs:attribute name="class" use="required" type="xs:string"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="emphasisRenderAttribute">
    <xs:attribute ref="brl:render" use="required"/>
  </xs:attributeGroup>
  <xs:element name="em">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="dtbook:pagenum"/>
        <xs:group ref="dtbook:contractionhints"/>
        <xs:element ref="dtbook:abbr"/>
        <xs:element ref="dtbook:noteref"/>
        <xs:element ref="dtbook:em"/>
      </xs:choice>
      <xs:attribute name="class" type="xs:string"/>
      <xs:attribute ref="brl:render"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="strong">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="dtbook:pagenum"/>
        <xs:group ref="dtbook:contractionhints"/>
        <xs:element ref="dtbook:abbr"/>
        <xs:element ref="dtbook:noteref"/>
      </xs:choice>
      <xs:attribute name="class" type="xs:string"/>
      <xs:attribute ref="brl:render"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="abbr" type="xs:string"/>
  <xs:element name="span">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="dtbook:pagenum"/>
        <xs:element ref="dtbook:em"/>
        <xs:element ref="dtbook:strong"/>
        <xs:element ref="dtbook:abbr"/>
        <xs:group ref="dtbook:contractionhints"/>
        <xs:element ref="dtbook:noteref"/>
      </xs:choice>
      <xs:attribute ref="brl:grade"/>
      <xs:attribute ref="brl:accents"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="blockquote">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="dtbook:p"/>
        <xs:element ref="dtbook:author"/>
        <xs:element ref="dtbook:byline"/>
      </xs:choice>
      <xs:attributeGroup ref="dtbook:brailleClassAttribute"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="epigraph">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:choice>
          <xs:element ref="dtbook:p"/>
          <xs:element ref="dtbook:poem"/>
        </xs:choice>
        <xs:element ref="dtbook:author"/>
        <xs:element ref="dtbook:byline"/>
      </xs:choice>
      <xs:attributeGroup ref="dtbook:brailleClassAttribute"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="author">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="dtbook:contractionhints"/>
        <xs:element ref="dtbook:abbr"/>
        <xs:element ref="dtbook:span"/>
        <xs:element ref="dtbook:noteref"/>
      </xs:choice>
      <xs:attributeGroup ref="dtbook:brailleClassAttribute"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="byline">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="dtbook:contractionhints"/>
        <xs:element ref="dtbook:abbr"/>
        <xs:element ref="dtbook:em"/>
        <xs:element ref="dtbook:strong"/>
        <xs:element ref="dtbook:span"/>
        <xs:element ref="dtbook:noteref"/>
      </xs:choice>
      <xs:attributeGroup ref="dtbook:brailleClassAttribute"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="list">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="dtbook:li"/>
        <xs:element ref="dtbook:pagenum"/>
      </xs:choice>
      <xs:attributeGroup ref="dtbook:brailleClassAttribute"/>
      <xs:attribute name="class">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="toc"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="type" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="pl"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="li">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="dtbook:em"/>
        <xs:element ref="dtbook:strong"/>
        <xs:group ref="dtbook:contractionhints"/>
        <xs:element ref="dtbook:abbr"/>
        <xs:element ref="dtbook:span"/>
        <xs:element ref="dtbook:lic"/>
        <xs:element ref="dtbook:pagenum"/>
        <xs:element ref="dtbook:noteref"/>
      </xs:choice>
      <xs:attributeGroup ref="dtbook:brailleClassAttribute"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="lic">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="dtbook:em"/>
        <xs:element ref="dtbook:strong"/>
        <xs:group ref="dtbook:contractionhints"/>
        <xs:element ref="dtbook:abbr"/>
        <xs:element ref="dtbook:span"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="pagenum">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:integer">
          <xs:attribute name="id" use="required" type="xs:NCName"/>
          <xs:attribute name="page" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="normal"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="poem">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="dtbook:author"/>
        <xs:element ref="dtbook:byline"/>
        <xs:choice>
          <xs:element ref="dtbook:linegroup"/>
          <xs:element ref="dtbook:line"/>
        </xs:choice>
      </xs:choice>
      <xs:attributeGroup ref="dtbook:brailleClassAttribute"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="linegroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="dtbook:line"/>
      </xs:sequence>
      <xs:attributeGroup ref="dtbook:brailleClassAttribute"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="line">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="dtbook:pagenum"/>
        <xs:element ref="dtbook:em"/>
        <xs:element ref="dtbook:strong"/>
        <xs:element ref="dtbook:abbr"/>
        <xs:group ref="dtbook:contractionhints"/>
        <xs:element ref="dtbook:span"/>
        <xs:element ref="dtbook:noteref"/>
      </xs:choice>
      <xs:attributeGroup ref="dtbook:brailleClassAttribute"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="noteref">
    <xs:complexType mixed="true">
      <xs:attribute name="idref" use="required" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="note">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="dtbook:p"/>
      </xs:sequence>
      <xs:attribute name="id" use="required" type="xs:ID"/>
    </xs:complexType>
  </xs:element>
  <xs:group name="contractionhints">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="brl:num"/>
        <xs:element ref="brl:homograph"/>
        <xs:element ref="brl:v-form"/>
        <xs:element ref="brl:name"/>
        <xs:element ref="brl:place"/>
        <xs:element ref="brl:date"/>
        <xs:element ref="brl:time"/>
        <xs:element ref="brl:emph"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  <!-- a simplified content selection feature backported from zednext -->
</xs:schema>
