documents/schema/minimalSchema.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="http://www.daisy.org/z3986/2005/dtbook/" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns:brl="http://www.daisy.org/z3986/2009/braille/" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <ref name="dtbook"/>
  </start>
  <define name="dtbook">
    <element name="dtbook">
      <attribute name="version">
        <value>2005-3</value>
      </attribute>
      <attribute name="xml:lang">
        <choice>
          <value>de</value>
          <value>de-1901</value>
        </choice>
      </attribute>
      <ref name="head"/>
      <ref name="book"/>
    </element>
  </define>
  <define name="head">
    <element name="head">
      <oneOrMore>
        <ref name="meta"/>
      </oneOrMore>
    </element>
  </define>
  <define name="meta">
    <element name="meta">
      <attribute name="content"/>
      <attribute name="name">
        <choice>
          <value>dtb:uid</value>
          <value>dc:Title</value>
          <value>dc:Creator</value>
          <value>dc:Subject</value>
          <value>dc:Description</value>
          <value>dc:Publisher</value>
          <value>dc:Date</value>
          <value>dc:Type</value>
          <value>dc:Format</value>
          <value>dc:Identifier</value>
          <value>dc:Source</value>
          <value>dc:Language</value>
          <value>dc:Rights</value>
          <value>dtb:sourceEdition</value>
          <value>dtb:sourcePublisher</value>
          <value>dtb:sourceRights</value>
          <value>prod:series</value>
          <value>prod:seriesNumber</value>
        </choice>
      </attribute>
    </element>
  </define>
  <define name="book">
    <element name="book">
      <ref name="frontmatter"/>
      <ref name="bodymatter"/>
      <optional>
        <ref name="rearmatter"/>
      </optional>
    </element>
  </define>
  <define name="frontmatter">
    <element name="frontmatter">
      <element name="doctitle">
        <interleave>
          <text/>
          <zeroOrMore>
            <ref name="abbr"/>
          </zeroOrMore>
          <zeroOrMore>
            <ref name="em"/>
          </zeroOrMore>
          <zeroOrMore>
            <ref name="strong"/>
          </zeroOrMore>
          <zeroOrMore>
            <ref name="contractionhints"/>
          </zeroOrMore>
          <zeroOrMore>
            <ref name="select"/>
          </zeroOrMore>
        </interleave>
      </element>
      <element name="docauthor">
        <interleave>
          <text/>
          <zeroOrMore>
            <ref name="abbr"/>
          </zeroOrMore>
          <zeroOrMore>
            <ref name="em"/>
          </zeroOrMore>
          <zeroOrMore>
            <ref name="strong"/>
          </zeroOrMore>
          <zeroOrMore>
            <ref name="contractionhints"/>
          </zeroOrMore>
          <zeroOrMore>
            <ref name="select"/>
          </zeroOrMore>
        </interleave>
      </element>
      <zeroOrMore>
        <ref name="frontmatterLevel1"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="bodymatter">
    <element name="bodymatter">
      <interleave>
        <oneOrMore>
          <ref name="level1"/>
        </oneOrMore>
        <zeroOrMore>
          <ref name="volume"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="rearmatter">
    <element name="rearmatter">
      <oneOrMore>
        <ref name="level1"/>
      </oneOrMore>
    </element>
  </define>
  <define name="gradeAttribute">
    <attribute name="brl:grade">
      <data type="nonNegativeInteger">
        <param name="maxInclusive">2</param>
      </data>
    </attribute>
  </define>
  <define name="accentsAttribute">
    <attribute name="brl:accents">
      <choice>
        <value>detailed</value>
        <value>reduced</value>
      </choice>
    </attribute>
  </define>
  <define name="brailleClassAttribute">
    <a:documentation>brl:class lets you fine tune the Braille formatting (think of it as
a form of css for Braille)</a:documentation>
    <attribute name="brl:class">
      <data type="string" datatypeLibrary=""/>
    </attribute>
  </define>
  <define name="commonAttributes">
    <optional>
      <ref name="gradeAttribute"/>
    </optional>
  </define>
  <define name="levelcontent">
    <interleave>
      <zeroOrMore>
        <ref name="pagenum"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="p"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="list"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="blockquote"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="epigraph"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="poem"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="note"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="author"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="byline"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="volume"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="div"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="linegroup"/>
      </zeroOrMore>
    </interleave>
  </define>
  <define name="hcontent">
    <interleave>
      <text/>
      <zeroOrMore>
        <ref name="contractionhints"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="span"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="em"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="strong"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="noteref"/>
      </zeroOrMore>
      <optional>
        <ref name="toc-line"/>
      </optional>
      <zeroOrMore>
        <ref name="running-line"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="select"/>
      </zeroOrMore>
    </interleave>
  </define>
  <define name="level1">
    <element name="level1">
      <ref name="commonAttributes"/>
      <interleave>
        <ref name="levelcontent"/>
        <optional>
          <ref name="h1"/>
        </optional>
        <zeroOrMore>
          <ref name="level2"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="frontmatterLevel1">
    <element name="level1">
      <ref name="commonAttributes"/>
      <optional>
        <attribute name="class">
          <choice>
            <value>titlepage</value>
            <value>toc</value>
          </choice>
        </attribute>
      </optional>
      <interleave>
        <ref name="levelcontent"/>
        <optional>
          <ref name="h1"/>
        </optional>
        <zeroOrMore>
          <ref name="level2"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="h1">
    <element name="h1">
      <optional>
        <ref name="brailleClassAttribute"/>
      </optional>
      <ref name="hcontent"/>
    </element>
  </define>
  <define name="level2">
    <element name="level2">
      <ref name="commonAttributes"/>
      <interleave>
        <ref name="levelcontent"/>
        <ref name="h2"/>
        <zeroOrMore>
          <ref name="level3"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="h2">
    <element name="h2">
      <optional>
        <ref name="brailleClassAttribute"/>
      </optional>
      <ref name="hcontent"/>
    </element>
  </define>
  <define name="level3">
    <element name="level3">
      <ref name="commonAttributes"/>
      <interleave>
        <ref name="levelcontent"/>
        <ref name="h3"/>
        <zeroOrMore>
          <ref name="level4"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="h3">
    <element name="h3">
      <optional>
        <ref name="brailleClassAttribute"/>
      </optional>
      <ref name="hcontent"/>
    </element>
  </define>
  <define name="level4">
    <element name="level4">
      <ref name="commonAttributes"/>
      <interleave>
        <ref name="levelcontent"/>
        <ref name="h4"/>
        <zeroOrMore>
          <ref name="level5"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="h4">
    <element name="h4">
      <optional>
        <ref name="brailleClassAttribute"/>
      </optional>
      <ref name="hcontent"/>
    </element>
  </define>
  <define name="level5">
    <element name="level5">
      <ref name="commonAttributes"/>
      <interleave>
        <ref name="levelcontent"/>
        <ref name="h5"/>
        <zeroOrMore>
          <ref name="level6"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="h5">
    <element name="h5">
      <optional>
        <ref name="brailleClassAttribute"/>
      </optional>
      <ref name="hcontent"/>
    </element>
  </define>
  <define name="level6">
    <element name="level6">
      <ref name="commonAttributes"/>
      <interleave>
        <ref name="levelcontent"/>
        <ref name="h6"/>
      </interleave>
    </element>
  </define>
  <define name="h6">
    <element name="h6">
      <optional>
        <ref name="brailleClassAttribute"/>
      </optional>
      <ref name="hcontent"/>
    </element>
  </define>
  <define name="p">
    <element name="p">
      <ref name="commonAttributes"/>
      <optional>
        <ref name="brailleClassAttribute"/>
      </optional>
      <optional>
        <!--
          this is a hack that the Norwegians came up with to work around
          the lack of a separator element (see
          http://www.daisy.org/z3986/2011/auth/cm/#z3986.separator) in
          dtbook xml. They "annotate" the following paragraph with a class
          attribute that declares a separator or an empty line before it.
        -->
        <attribute name="class">
          <list>
            <oneOrMore>
              <choice>
                <value>precedingseparator</value>
                <value>precedingemptyline</value>
                <value>noindent</value>
              </choice>
            </oneOrMore>
          </list>
        </attribute>
      </optional>
      <interleave>
        <text/>
        <zeroOrMore>
          <ref name="pagenum"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="em"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="strong"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="abbr"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="contractionhints"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="span"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="noteref"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="select"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="emphasisClassAttribute">
    <a:documentation>The class attribute on emphasis is used to categorize the emphasis
tags. This will help in deciding what brl:render attribute to set
for this emphasis</a:documentation>
    <attribute name="class">
      <data type="string" datatypeLibrary=""/>
    </attribute>
  </define>
  <define name="emphasisRenderAttribute">
    <attribute name="brl:render">
      <choice>
        <value>emph</value>
        <value>quote</value>
        <value>singlequote</value>
        <value>ignore</value>
      </choice>
    </attribute>
  </define>
  <define name="em">
    <element name="em">
      <optional>
        <ref name="emphasisClassAttribute"/>
      </optional>
      <optional>
        <ref name="emphasisRenderAttribute"/>
      </optional>
      <interleave>
        <text/>
        <optional>
          <ref name="pagenum"/>
        </optional>
        <zeroOrMore>
          <ref name="contractionhints"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="abbr"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="noteref"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="strong">
    <element name="strong">
      <optional>
        <ref name="emphasisClassAttribute"/>
      </optional>
      <optional>
        <ref name="emphasisRenderAttribute"/>
      </optional>
      <interleave>
        <text/>
        <optional>
          <ref name="pagenum"/>
        </optional>
        <zeroOrMore>
          <ref name="contractionhints"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="abbr"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="noteref"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="abbr">
    <element name="abbr">
      <text/>
    </element>
  </define>
  <define name="span">
    <element name="span">
      <choice>
        <ref name="gradeAttribute"/>
        <ref name="accentsAttribute"/>
      </choice>
      <interleave>
        <text/>
        <zeroOrMore>
          <ref name="pagenum"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="em"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="strong"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="abbr"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="contractionhints"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="noteref"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="span"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="blockquote">
    <element name="blockquote">
      <optional>
        <ref name="brailleClassAttribute"/>
      </optional>
      <interleave>
        <oneOrMore>
          <ref name="p"/>
        </oneOrMore>
        <zeroOrMore>
          <ref name="author"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="byline"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="epigraph">
    <element name="epigraph">
      <optional>
        <ref name="brailleClassAttribute"/>
      </optional>
      <interleave>
        <choice>
          <oneOrMore>
            <ref name="p"/>
          </oneOrMore>
          <ref name="poem"/>
        </choice>
        <zeroOrMore>
          <ref name="author"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="byline"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="author">
    <element name="author">
      <optional>
        <ref name="brailleClassAttribute"/>
      </optional>
      <interleave>
        <text/>
        <zeroOrMore>
          <ref name="contractionhints"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="abbr"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="span"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="noteref"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="select"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="byline">
    <element name="byline">
      <optional>
        <ref name="brailleClassAttribute"/>
      </optional>
      <interleave>
        <text/>
        <zeroOrMore>
          <ref name="contractionhints"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="abbr"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="em"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="strong"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="span"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="noteref"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="select"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="list">
    <element name="list">
      <optional>
        <ref name="brailleClassAttribute"/>
      </optional>
      <optional>
        <attribute name="class">
          <value>toc</value>
        </attribute>
      </optional>
      <attribute name="type">
        <value>pl</value>
      </attribute>
      <interleave>
        <oneOrMore>
          <ref name="li"/>
        </oneOrMore>
        <zeroOrMore>
          <ref name="pagenum"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="li">
    <element name="li">
      <optional>
        <ref name="brailleClassAttribute"/>
      </optional>
      <interleave>
        <text/>
        <zeroOrMore>
          <ref name="em"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="strong"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="contractionhints"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="abbr"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="span"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="lic"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="pagenum"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="noteref"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="select"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="lic">
    <element name="lic">
      <interleave>
        <text/>
        <zeroOrMore>
          <ref name="em"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="strong"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="contractionhints"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="abbr"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="span"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="select"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="pagenum">
    <element name="pagenum">
      <attribute name="id">
        <data type="NCName"/>
      </attribute>
      <attribute name="page">
        <value>normal</value>
      </attribute>
      <data type="integer"/>
    </element>
  </define>
  <define name="poem">
    <element name="poem">
      <optional>
        <ref name="brailleClassAttribute"/>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="author"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="byline"/>
        </zeroOrMore>
        <choice>
          <oneOrMore>
            <ref name="linegroup"/>
          </oneOrMore>
          <oneOrMore>
            <ref name="line"/>
          </oneOrMore>
        </choice>
        <zeroOrMore>
          <ref name="pagenum"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="linegroup">
    <element name="linegroup">
      <optional>
        <ref name="brailleClassAttribute"/>
      </optional>
      <interleave>
        <oneOrMore>
          <ref name="line"/>
        </oneOrMore>
        <zeroOrMore>
          <ref name="pagenum"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="line">
    <element name="line">
      <optional>
        <ref name="brailleClassAttribute"/>
      </optional>
      <interleave>
        <text/>
        <zeroOrMore>
          <ref name="pagenum"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="em"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="strong"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="abbr"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="contractionhints"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="span"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="noteref"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="select"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="noteref">
    <element name="noteref">
      <attribute name="idref">
        <data type="string" datatypeLibrary=""/>
      </attribute>
      <text/>
    </element>
  </define>
  <define name="note">
    <element name="note">
      <attribute name="id">
        <data type="ID"/>
      </attribute>
      <oneOrMore>
        <ref name="p"/>
      </oneOrMore>
    </element>
  </define>
  <define name="div">
    <element name="div">
      <ref name="brailleClassAttribute"/>
      <interleave>
        <zeroOrMore>
          <ref name="p"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="list"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="blockquote"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="author"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="note"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="poem"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="linegroup"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="byline"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="epigraph"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="div"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="contractionhints">
    <interleave>
      <zeroOrMore>
        <ref name="num"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="homograph"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="v-form"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="name"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="place"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="date"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="time"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="emph"/>
      </zeroOrMore>
    </interleave>
  </define>
  <define name="num">
    <element name="brl:num">
      <attribute name="role">
        <choice>
          <value>ordinal</value>
          <value>cardinal</value>
          <value>roman</value>
          <value>fraction</value>
          <value>mixed</value>
          <value>isbn</value>
          <value>phone</value>
          <value>measure</value>
        </choice>
      </attribute>
      <text/>
    </element>
  </define>
  <define name="homograph">
    <element name="brl:homograph">
      <interleave>
        <oneOrMore>
          <element name="brl:separator">
            <empty/>
          </element>
        </oneOrMore>
        <text/>
      </interleave>
    </element>
  </define>
  <define name="v-form">
    <element name="brl:v-form">
      <text/>
    </element>
  </define>
  <define name="name">
    <element name="brl:name">
      <text/>
    </element>
  </define>
  <define name="place">
    <element name="brl:place">
      <text/>
    </element>
  </define>
  <define name="date">
    <element name="brl:date">
      <attribute name="value">
        <choice>
          <data type="gMonthDay"/>
          <data type="date"/>
        </choice>
      </attribute>
      <text/>
    </element>
  </define>
  <define name="time">
    <element name="brl:time">
      <attribute name="value">
        <choice>
          <data type="time"/>
          <data type="string">
            <param name="pattern">\d\d:\d\d</param>
          </data>
        </choice>
      </attribute>
      <text/>
    </element>
  </define>
  <define name="emph">
    <element name="brl:emph">
      <optional>
        <ref name="emphasisClassAttribute"/>
      </optional>
      <optional>
        <ref name="emphasisRenderAttribute"/>
      </optional>
      <interleave>
        <text/>
        <optional>
          <ref name="pagenum"/>
        </optional>
        <zeroOrMore>
          <ref name="contractionhints"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="abbr"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="volume">
    <element name="brl:volume">
      <ref name="gradeAttribute"/>
    </element>
  </define>
  <define name="literal">
    <element name="brl:literal">
      <optional>
        <ref name="gradeAttribute"/>
      </optional>
      <text/>
    </element>
  </define>
  <define name="toc-line">
    <element name="brl:toc-line">
      <interleave>
        <text/>
        <zeroOrMore>
          <ref name="em"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="strong"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="contractionhints"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="abbr"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="span"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="running-line">
    <element name="brl:running-line">
      <optional>
        <ref name="gradeAttribute"/>
      </optional>
      <interleave>
        <text/>
        <zeroOrMore>
          <ref name="em"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="strong"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="contractionhints"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="abbr"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="span"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <!-- a simplified content selection feature backported from zednext -->
  <define name="select">
    <element name="brl:select">
      <element name="brl:when-braille">
        <interleave>
          <text/>
          <zeroOrMore>
            <ref name="literal"/>
          </zeroOrMore>
        </interleave>
      </element>
      <element name="brl:otherwise">
        <text/>
      </element>
    </element>
  </define>
</grammar>
